
<h2>AddTask</h2>

<form name="AddTask" action="/Home/SaveNewTask" method="post">
    <label class="label">TaskID</label><input type="number" class="form-control" value="@ViewBag.AddTask.TaskID" name="TaskID" />
    <label class="label">Description</label><input type="text" class="form-control" value="@ViewBag.AddTask.Description" name="Description" />
    <label class="label">Due Date</label><input type="date" class="form-control" value="@ViewBag.AddTask.DueDate" name="Due Date" /><br /><br />
    <input type="submit" value="Add Task" />
</form>