
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<table border="1" class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>

    @foreach (var task in ViewBag.TaskList)
    {
        <tr>
            <td>
                @task.TaskID
            </td>
            <td>
                @task.Description
            </td>
            <td>
                @task.DueDate
            </td>
        </tr>
    }
</table>
