
<h2>Login</h2>

<form name="Register" action="/Home/SignIn" method="post">
    <label class="control-label">UserID</label><input type="number" class="form-control" name="UserID" /><br />
    <label class="control-label">Email Address</label><input type="email" class="form-control" name="Email_Address" /><br />
    <label class="control-label">Password</label><input type="password" class="form-control" name="Password" /><br /><br />
    <input type="submit" value="Sign In" />
</form>
