

<h2>Welcome</h2>

<form name="Register" action="/Home/AddUser" method="post">
    <label class="control-label">UserID</label><input type="number" class="form-control"  name="UserID" />
    <label class="control-label">FirstName</label><input type="text" class="form-control"  name="FirstName" />
    <label class="control-label">LastName</label><input type="text" class="form-control"  name="LastName" />
    <label class="control-label">Email Address</label><input type="email" class="form-control"  name="Email_Address" />
    <label class="control-label">Password</label><input type="password" class="form-control"  name="Password" /><br /><br />
    <input type="submit" value="Add User"/>
</form>
